<?xml version="1.0" encoding="utf-8"?>

<!--You need to add uap5, desktop and rescap as namespaces.
    Don't forget to add a reference called 'Windows Desktop Extensions for the UWP'
    in the Reference Manager.-->
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="2bdda4b7-bd62-4a73-9a34-4fc31f67ee61"
    Publisher="CN=Tobii"
    Version="1.1.2.0" />

  <mp:PhoneIdentity PhoneProductId="2bdda4b7-bd62-4a73-9a34-4fc31f67ee61" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>TrayUWP</DisplayName>
    <PublisherDisplayName>tobii</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="TrayUWP.App">
      <uap:VisualElements
        DisplayName="TrayUWP"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="TrayUWP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <!--Declare a trusted executable in Assets-->
        <desktop:Extension Category="windows.fullTrustProcess" Executable="Assets\TrayEXE.exe"/>
        <!--Declare a command line alias-->
        <uap5:Extension
          Category="windows.appExecutionAlias"
          Executable="TrayUWP.exe"
          EntryPoint="TrayUWP.App">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="TrayUWP.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
        <!--Declare the use of AppService extension-->
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="CommunicationService" />
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  
  <Capabilities>
    <Capability Name="internetClient" />
    <!--This capability can only be used by Microsoft and its trusted partners,
        but it's essential to the app.-->
    <rescap:Capability Name="runFullTrust"/>
  </Capabilities>
</Package>